#work_banner{
    background-image:url(./../images/mohammad-rahmani-1bNQVGzuy0U-unsplash.jpg);
	background-position: center center;
	background-size: cover;
	height: 30%;
	min-height: 60vh;
	width: 100%;
	display: flex;
}
#imgCompetences{
	background-image: url(./../images/competences.jpg);
	background-position: center center;
	background-size: cover;
	height: 40%;
	width: 100%;
}
#footer{
	width: 100%;
	height: 40%;

}
